<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.andrewgarver.recipegrabber" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ActivityMain"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddToCupboard"
            android:label="@string/title_activity_add_to_cupboard"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AddRecipe"
            android:label="Add a Recipe"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AddToShoppingList"
            android:label="Add To Shopping List"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".DisplayRecipe"
            android:label="Lets Make It"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <provider
            android:name=".extendCalView.CalendarProvider"
            android:authorities="com.android.andrewgarver.recipegrabber.extendCalView.calendarprovider" />

        <activity android:name=".PickRecipe" >
        </activity>
        <activity android:name=".About_page" >
        </activity>
    </application>

</manifest>
